{% extends "layout.html" %}
{% block content %}

<h4>Fee Details</h4>

<table class="table table-bordered">
<tr>
<th>Total Fee</th>
<th>Paid</th>
<th>Balance</th>
<th>Status</th>
{% if role == "admin" %}<th>Action</th>{% endif %}
</tr>

{% for row in fees %}
<tr>
<td>{{ row.total_fee }}</td>
<td>{{ row.paid_fee }}</td>
<td>{{ row.balance }}</td>
<td>{{ row.payment_status }}</td>

{% if role == "admin" %}
<td>
<a href="/fees/edit/{{ row.student_id }}"
class="btn btn-warning btn-sm">Update</a>
</td>
{% endif %}
</tr>
{% endfor %}
</table>

{% endblock %}
